<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/AdminLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body layout:fragment="admin-content">
<div class="a-menu">
    <div class="a-menu__buttons">
        <button class="a-menuButton" id="addCategory">Add category</button>
        <button class="a-menuButton">Add subcategory</button>
        <button class="a-menuButton">Delete category</button>
        <button class="a-menuButton">Delete subcategory</button>
    </div>
</div>
</body>
</html>